docker.enabled = true
//NXF_ENABLE_VIRTUAL_THREADS=false
trace.overwrite = true
process {
  resourceLimits = [
    cpus: 10,
    memory: 15.GB,
    time: 200.h
  ]
  errorStrategy = { task.attempt < 1 ? 'retry' : 'ignore' }
  maxRetries = 1

  withLabel:process_low {
    cpus   = { 2 * task.attempt }
    time   = { 4.min  * task.attempt }
    memory = 2.GB
  }
  withLabel:process_medium {
    cpus   =  { 4 * task.attempt }
    time   = { 8.min * task.attempt }
    memory = 8.GB
    maxForks = 4
  }
  withLabel:process_high {
    cpus   = 4
    memory = { 5.GB * task.attempt }
    time   = { 20.min * task.attempt }
    maxForks = 4
  }
}

// reports
timeline {
  enabled = true
  overwrite = true
  file = "multiquas.html"
}
report {
  enabled = true
  overwrite = true
  file = "multiquas_report.html"
}