docker.enabled = true
NXF_ENABLE_VIRTUAL_THREADS = false
trace.overwrite = true

process {
  resourceLimits = [
    cpus: 20,
    memory: 32.GB,
    time: 1.h
  ]
  withLabel:process_low {
    cpus   = { 1 * task.attempt }
    time   = { 4.min  * task.attempt }
    memory = 2.GB
    maxRetries = 3
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
  }
  withLabel:process_medium {
    cpus   =  { 2 * task.attempt }
    time   = { 8.min * task.attempt }
    memory = 4.GB
    maxRetries = 3
    maxForks = 4
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
  }
  withLabel:process_high {
    cpus   = 6
    memory = 6.GB
    time   = 15.min 
    maxRetries = 3
    maxForks = 4
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

  }
}

